/*---------- general ----------*/

html, body {
  height: 100%;
}

p {
  font-family: 'helvetica', serif;
  display: block;
  z-index: 99;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'helvetica', serif;
}

li {
  font-family: 'helvetica', serif;
}

a:hover {
  color: #663EE6;
}

.container {
  display: block;
  position: relative;
  z-index: 999;
  padding-left: var(--bs-gutter-x,3rem);
  padding-right: var(--bs-gutter-x,0.5rem);
}

@media (min-width: 768px) {

  .container {
    padding-left: var(--bs-gutter-x,5rem);
    padding-right: var(--bs-gutter-x,2rem);
  }
}


@media (min-width: 992px) {
  .container {
    padding-left: var(--bs-gutter-x,7rem);
    padding-right: var(--bs-gutter-x,4rem);
  }
}


/*---------- nav ----------*/

.logo-container {
  display: flex;
  justify-content: flex-end;
  padding: 30px auto;
  align-items: flex-start;
}

.navbar-brand {
  font-size: 27px;
  font-family: 'helvetica', serif;
  color: black;
}

.navbar-text, .nav-about {
  font-family: 'helvetica', serif;
}

.nav-about {
  color: gray;
  padding: 15px 0 15px 0;
}

.navbar {
  font-size: 27px;
}

.navbar > .container {
  align-items: flex-start;
}

.navbar-text {
  color: black !important;
  text-align: left;
  width: 100%;
}

.top-right-nav-logo {
  width: 190px;
  padding: 30px 0;
  height: auto;
}

@media (min-width: 992px) {
  .navbar-text {
    text-align: right;
  }
}

/*---------- home ----------*/

#header, #form, #footer {
  display: block;
  z-index: 99;
}

.gradient-bar {
    display: block;
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 7%;
    background: linear-gradient(270deg, #0fe6af, #0fa2e6, #8f0fe6);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.form-control {
  font-family: 'helvetica', serif;
}

.main-description-container {
  margin: 60px auto 30px auto;
}

.main-description-container h2 {
  margin-top: 60px;
}

.container-fluid {
  padding: 0 19px;
}

.form-area {
  padding: 15px 0;
  border: 3px solid black;
  max-width: 83%;
  margin-right: 33px;
}

.form-inputs {
  margin: 19px 0;
  font-family: 'helvetica', serif;
}

.form-col h3 {
  font-size: 1.2rem;
  margin: 30px 0;
}

.btn-send-form {
  margin: 25px 0 10px 0;
}

.btn-send {
  background-color: black;
  color: white;
  padding: 15px;
}

.btn-send:hover {
  color: white;
  text-decoration: underline;
}

.main-description-container h3{
  margin: 35px 0 15px 0;
}

.main-description-container h5{
  margin: 35px 0 15px 0;
}

.main-description-container a{
  color: black;
}

/*
Make bootstrap-select work with bootstrap 4 see:
https://github.com/silviomoreto/bootstrap-select/issues/1135
*/
.dropdown-toggle.btn-default {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
  display: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
  background-color: #f4f4f4;
}
.bootstrap-select > .dropdown-toggle {
  width: 100%;
}
.dropdown-menu > li.active > a {
  color: #fff !important;
  background-color: #337ab7 !important;
}
.bootstrap-select .check-mark {
  line-height: 14px;
}
.bootstrap-select .check-mark::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.bootstrap-select button {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline !important;
}

@media (min-width: 768px) {
  .form-area {
    padding: 2rem 0.9rem;
    max-width: 77%;
    margin-right: 69px;
  }

  .form-col h3 {
    font-size: 1.20rem;
  }
}

@media (min-width: 992px) {
  .form-area {
    padding: 2rem 1.5rem;
    max-width: 72%;
    margin-right: 12%;
  }

  .form-col h3 {
    font-size: 1.45rem;
  }
}

@media (min-width: 1200px) {
  .form-area {
    padding: 2rem 2rem;
    max-width: 75%;
    margin-right: 11%;
  }

  .form-col h3 {
    font-size: 1.45rem;
  }
}

@media (min-width: 1600px) {
  .form-area {
    max-width: 63%;
    margin-right: 17%;
  }
}

@media (min-width: 1900px) {
  .form-area {
    max-width: 62%;
    margin-right: 17%;
  }
}




/*---------- footer ----------*/

.footer-container {
  display: block;
  position: relative;
  z-index: 999;
  margin-top: 60px;
  background-color: black;
}
